
<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEKATE48 fanmade Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/assets/css/home.css" rel="stylesheet">
    <link rel="icon" href="/assets/css/image/favlogo.png" />
    <meta name="author" content="JEKATE48">
    <meta property="og:image:height" content="961">
    <meta property="og:image:width" content="1905">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/989168672708919317/1312077173955493950/screenshot-1732893954685.png?ex=674b2e97&is=6749dd17&hm=59742c403323d862a6baf46c1ce0efb6a1f8085d2c92cbb27612b831a5e7317f&">
    <meta property="og:title" content="JEKATE48">
    <meta property="og:description" content="EXPERIENCE THE MAGIC OF JKT48, ANYTIME, ANYWHERE">
</head>

<body class="bg-gray-900 text-white">

    <div class="max-w-4xl mx-auto p-6">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-bold">Dukungan Pengguna</h1>
            <p class="text-lg mt-2">Kami di sini untuk membantu Anda. Jika Anda memiliki pertanyaan atau masalah, silakan hubungi kami. Perlu diingat bahwa kami adalah situs **fanmade** dan bukan bagian dari JKT48 resmi.</p>
        </header>

        <section>
            <h2 class="text-2xl font-semibold mb-4">Kontak Kami</h2>
            <p>Jika Anda membutuhkan bantuan atau memiliki pertanyaan, Anda dapat menghubungi tim dukungan kami melalui saluran berikut. Harap diingat bahwa kami bukan situs resmi JKT48, namun kami berusaha memberikan pengalaman terbaik bagi penggemar:</p>
            <ul class="list-disc pl-6 mt-4">
                <li>Email: <a href="mailto:typicalsleepingboyxxx@gmail.com" class="text-blue-400">support@jekate48.site</a></li>
            </ul>
        </section>

        <footer class="mt-8 text-center text-gray-400">
            <p>&copy; 2024 JEKATE48 fanmade Website by Typicalsleepingboy. All rights
                reserved.</p>
        </footer>
    </div>
    <script src="/middleware/middleware.js"></script>
    <script src="/progress.js"></script>
    <script src="/security/typicalsleepingboy.js"></script>

</body>

</html>