<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEKATE48 fanmade Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/assets/css/home.css" rel="stylesheet">
    <link rel="icon" href="/assets/css/image/favlogo.png" />
    <meta name="author" content="JEKATE48">
    <meta property="og:image:height" content="961">
    <meta property="og:image:width" content="1905">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/989168672708919317/1312702801561784430/jekate.png?ex=674d7540&is=674c23c0&hm=9ea5ecf4eb8348721762f134b4a30affbb5adcf3020bbb79b46a830dc1266520&">
    <meta property="og:title" content="JEKATE48">
    <meta property="og:description" content="EXPERIENCE THE MAGIC OF JKT48, ANYTIME, ANYWHERE">
</head>

<body class="bg-gray-900 text-white">

    <div class="max-w-4xl mx-auto p-6">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-bold">Syarat dan Ketentuan</h1>
            <p class="text-lg mt-2">Selamat datang di website **JEKATE48 Fanmade**. Kami ingin memastikan Anda memahami
                aturan dan ketentuan yang berlaku di platform fanmade ini.</p>
        </header>

        <section>
            <h2 class="text-2xl font-semibold mb-4">1. Penerimaan Syarat dan Ketentuan</h2>
            <p>Dengan mengakses atau menggunakan layanan yang tersedia di website **JEKATE48 Fanmade**, Anda setuju
                untuk terikat oleh syarat dan ketentuan yang tercantum di halaman ini. Harap dicatat bahwa website ini
                bukan merupakan situs resmi JKT48 atau afiliasinya.</p>
        </section>

        <section class="mt-6">
            <h2 class="text-2xl font-semibold mb-4">2. Penggunaan Layanan</h2>
            <p>Pengguna setuju untuk menggunakan layanan yang disediakan oleh **JEKATE48 Fanmade** sesuai dengan
                ketentuan yang berlaku dan tidak melakukan aktivitas ilegal, merugikan pihak lain, atau melanggar hak
                cipta dan kekayaan intelektual yang dimiliki oleh pihak lain, termasuk namun tidak terbatas pada JKT48
                dan afiliasinya.</p>
        </section>


        <section class="mt-6">
            <h2 class="text-2xl font-semibold mb-4">3. Perubahan Ketentuan</h2>
            <p>Kami berhak untuk mengubah syarat dan ketentuan ini kapan saja. Perubahan tersebut akan diumumkan melalui
                situs kami dan berlaku segera setelah dipublikasikan. Pastikan untuk memeriksa halaman ini secara
                berkala untuk mengetahui pembaruan.</p>
        </section>

        <footer class="mt-8 text-center text-gray-400">
            <p>&copy; 2024 JEKATE48 fanmade Website by Typicalsleepingboy. All rights
                reserved.</p>
        </footer>
    </div>

    <script src="/middleware/middleware.js"></script>
    <script src="/progress.js"></script>
    <script src="/security/typicalsleepingboy.js"></script>
</body>

</html>