<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEKATE48 fanmade Website</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/assets/css/home.css" rel="stylesheet">
    <link rel="icon" href="/assets/css/image/favlogo.png" />
    <meta name="author" content="JEKATE48">
    <meta property="og:image:height" content="512">
    <link rel="manifest" href="/manifest.json"/>
    <meta property="og:image:width" content="512">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/989168672708919317/1312077173955493950/screenshot-1732893954685.png?ex=674b2e97&is=6749dd17&hm=59742c403323d862a6baf46c1ce0efb6a1f8085d2c92cbb27612b831a5e7317f&">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/1133957893528485949/1308125578263531540/logo.png?ex=673cce61&is=673b7ce1&hm=7e6dbbf4f43f1cc40b7a114fe225f2d9a4e7e716b0f031837bf69ce46d3da74e&">
    <meta property="og:title" content="JEKATE48">
    <meta property="og:description" content="EXPERIENCE THE MAGIC OF JKT48, ANYTIME, ANYWHERE">
</head>

<body class="bg-gray-900 text-white">

    <div class="max-w-4xl mx-auto p-6">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-bold">Syarat dan Ketentuan</h1>
            <p class="text-lg mt-2">Selamat datang di website **JEKATE48 Fanmade**. Kami ingin memastikan Anda memahami aturan dan ketentuan yang berlaku di platform fanmade ini.</p>
        </header>

        <section>
            <h2 class="text-2xl font-semibold mb-4">1. Penerimaan Syarat dan Ketentuan</h2>
            <p>Dengan mengakses atau menggunakan layanan yang tersedia di website **JEKATE48 Fanmade**, Anda setuju untuk terikat oleh syarat dan ketentuan yang tercantum di halaman ini. Harap dicatat bahwa website ini bukan merupakan situs resmi JKT48 atau afiliasinya.</p>
        </section>

        <section class="mt-6">
            <h2 class="text-2xl font-semibold mb-4">2. Penggunaan Layanan</h2>
            <p>Pengguna setuju untuk menggunakan layanan yang disediakan oleh **JEKATE48 Fanmade** sesuai dengan ketentuan yang berlaku dan tidak melakukan aktivitas ilegal, merugikan pihak lain, atau melanggar hak cipta dan kekayaan intelektual yang dimiliki oleh pihak lain, termasuk namun tidak terbatas pada JKT48 dan afiliasinya.</p>
        </section>


        <section class="mt-6">
            <h2 class="text-2xl font-semibold mb-4">3. Perubahan Ketentuan</h2>
            <p>Kami berhak untuk mengubah syarat dan ketentuan ini kapan saja. Perubahan tersebut akan diumumkan melalui situs kami dan berlaku segera setelah dipublikasikan. Pastikan untuk memeriksa halaman ini secara berkala untuk mengetahui pembaruan.</p>
        </section>

        <footer class="mt-8 text-center text-gray-400">
            <p>&copy; 2024 JEKATE48 fanmade Website by Typicalsleepingboy. All rights
                reserved.</p>
        </footer>
    </div>

    <script src="/middleware/middleware.js"></script>
    <script src="/security/typicalsleepingboy.js"></script>
</body>

</html>
